<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="card-panel">
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="first_name" name="first_name" type="text" class="validate" required>
        <label for="first_name">Nombre</label>
      </div>
      <label class="red-text" *ngIf="isAttributeInvalid('first_name')">El nombre es requerido</label>
    </div>


    <div class="row">
      <div class="input-field col s12">
        <input formControlName="last_name" name="last_name" type="text" class="validate" required>
        <label for="last_name">Apellidos</label>
      </div>
      <label class="red-text" *ngIf="isAttributeInvalid('last_name')">Los Apellidos son requeridos</label>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input formControlName="email" name="email" type="email" class="validate">
        <label for="email">Correo Electronico</label>
      </div>
      <div *ngIf="isAttributeInvalid('email')">
        <!-- <label class="red-text" *ngIf="isRequiredValid('email')">El correo es requerido</label> -->
        <!-- <br> -->
        <label class="red-text" *ngIf="isEmailValid()">El formato de correo no es valido</label>
      </div>
    </div>

     <div class="row">
      <div class="input-field col s12">
        <input name="spaces" type="number" class="validate" formControlName="spaces" required>
         <label for="spaces">Espacios</label>
      </div>
        <div *ngIf="isAttributeInvalid('spaces')">
        <label class="red-text" *ngIf="isRequiredValid('spaces')">La cantidad de espacios es requerida</label>
        <br>
        <label class="red-text" *ngIf="isMinimumSpaceValid()">El numero de espacios debe ser al menos 1</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input formControlName="phone" name="phone" type="tel" class="validate">
        <label for="first_name">Telefono</label>
      </div>
    </div>

    <div class="row">
      <button class="btn waves-effect" type="submit" materialize [materializeActions]="globalActions">Guardar</button>
    </div>
  </div>

</form>
