<my-app>

  <div class="h-center">
    <!-- <img src="../images/wedding.jpg" /> -->
    <div class="col s12">
      <img src="../images/splash.jpg" />
      <div class="progress brown lighten-1">
        <div class="indeterminate brown lighten-3" ></div>
      </div>
    </div>

</my-app>
