  <div class="container">
    <div class="photo-container">
      <div *ngFor="let photo of photos">
        <img materialize="materialbox" class="materialboxed hide-on-med-and-down" width="300" [src]="photo.imageUrl" />
        <img materialize="materialbox" class="materialboxed hide-on-large-only" width="140" [src]="photo.imageUrl" />
      </div>
      <!-- <div #carousel class="carousel" materialize="carousel" [ngClass]="{ 'initialized': showInitialized }" [materializeActions]="actions">
      <a *ngFor="let photo of photos" class="carousel-item">
        <img materialize="materialbox" class="materialboxed hide-on-med-and-down" width="500" [src]="photo.imageUrl" />
        <img materialize="materialbox" class="materialboxed hide-on-large-only" width="250" [src]="photo.imageUrl" />
      </a>
    </div> -->
    </div>
  </div>
