<div class="container">
  <div class="col s12 m7" *ngIf="guest && wedding">
    <h2 class="header center-align">
      {{guest.first_name + ' ' + guest.last_name}}
    </h2>
    <div class="card">
      <div class="card-content">
        <span class="card-title center-align">Por favor reserva la fecha : {{getFullDate()}}</span>
        <div class="divider">

        </div>
        <div class="center-align">
          <p>
            <br />
            <b>Hemos guardado para ti: {{guest.spaces}} espacios</b>
          </p>
        </div>
        <div class="divider">

        </div>
        <br />
        <div class="center-align">
          <a class="btn white black-text" routerLink='/'>Confirmar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divider">

</div>

<div *ngFor="let section of sections">
  <story-card *ngIf="section.header || section.content" story-card [header]="section.header" [story]="section.content"></story-card>
  <div class="parallax-container valign-wrapper">
    <h1 class=" white-text overlay center-align">
        {{section.name | uppercase }}
      </h1>
    <div class="parallax grey lighten-1" materialize="parallax">
      <img [src]="section.imageUrl">
    </div>
  </div>
</div>
