<div *ngFor="let section of sections">
  <div class="parallax-container valign-wrapper">
      <div class="container">
        <h1 class=" white-text center-align overlay">{{guest.first_name + ' ' + guest.last_name}}</h1>
        <div class="overlay center-align container white-text">
          <div class="container">
            <div class="divider"></div>
            <p class="flow-text">
              {{section.content}}
            </p>
            <div class="divider"></div>
        </div>

        <div class="center-align">
          <a class="btn white black-text" routerLink='/nuestra-historia'>Continuar</a>
        </div>
      </div>
    <div class="parallax grey darken-4" materialize="parallax">
      <img class="img-opa" [src]="section.imageUrl">
    </div>
  </div>
</div>
