.parallax-container {
    height: 600px;
}

.img-opa{
  opacity: 0.5;
}

p, span {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
}

.overlay, .parallax-text {
    /*font-size: 80px;*/
    font-family: 'EB Garamond', serif;
    letter-spacing: .11em;
    font-size: 2.5em;
    text-rendering: optimizeLegibility;
}

@media (min-width: 993px ) {
  .parallax-container {
      height: 900px;
  }

  .overlay, .parallax-text {
      font-size: 20px;
      font-family: 'EB Garamond', serif;
      letter-spacing: .11em;
      font-size: 7em;
      text-rendering: optimizeLegibility;
  }

  p, span {
    font-family: 'EB Garamond', serif;
    font-size: 22px;
  }

}

.overlay{
  width: 100%;
}

.btn{
  /*border-style: solid;*/
  /*border-color: black;*/
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin: 10px;
}

.btn:hover{
  background-color: black;
}
