<div class="container">
  <div class="fixed-action-btn">
    <a [routerLink]="['/admin/invitar']" class="btn btn-large btn-floating waves-effect waves-light"><i class="material-icons">add</i></a>
  </div>

  <div class="row">
      <ul class="collection" *ngIf="guests && guests.length">
        <li class="collection-item">
          Numero de invitados<span class="badge blue white-text">{{guests.length}}</span>
        </li>
        <li class="collection-item">
          Numero de espacios<span class="badge blue white-text">{{getGuestSpaces()}}</span>
        </li>
      </ul>
  </div>

  <div class="row">
    <div class="collection">
      <a class="collection-item" *ngFor="let guest of guests" [routerLink]="['/admin/editar-invitado', guest.id]">
        {{guest.first_name + ' ' + guest?.last_name}}

        <span class="badge light-blue-text" > <i class="material-icons">people</i> {{guest.spaces}}</span>
        <span *ngIf="guest.email" class="badge light-blue-text" > <i class="material-icons">email</i></span>
        <span *ngIf="guest.phone" class="badge light-blue-text" > <i class="material-icons">phone</i></span>
      </a>
    </div>
  </div>


</div>
