<div class="container">
  <div class="fixed-action-btn">
    <a [routerLink]="['/admin/invitar']" class="btn btn-large btn-floating waves-effect waves-light"><i class="material-icons">add</i></a>
  </div>

  <div class="row">
    <ul class="collection" *ngIf="guests && guests.length">
      <li class="collection-item">
        Numero de invitados<span class="badge blue white-text">{{guests.length}}</span>
      </li>
      <li class="collection-item">
        Numero de espacios<span class="badge blue white-text">{{getGuestSpaces()}}</span>
      </li>
    </ul>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">search</i>
    <input [(ngModel)]="searchValue" (ngModelChange)="search($event)" type="text" placeholder="Nombre o apellido" >
  </div>

  <div class="row">
    <ul class="collection">
      <li class="collection-item" *ngFor="let guest of guestList" [routerLink]="['/admin/editar-invitado', guest.id]">
        <div class="truncate teal-text">{{guest.first_name}} <span *ngIf="guest.last_name">{{' ' + guest.last_name}}</span>
          <span class="secondary-content light-blue-text">
            <i *ngIf="guest.email" class="material-icons tiny">email</i><i *ngIf="guest.phone" class="material-icons tiny">phone</i>
             <i class="material-icons">people</i><span>{{guest.spaces}}</span>
            <i class="lime-text material-icons">watch_later</i>
          </span>
        </div>
      </li>
    </ul>
  </div>


</div>
