<div class="container">
  <div class="row">
    <div class="card-panel" *ngIf="guests">
      <div *ngIf="guests.length" class="row">
        <div class="col s12 m6">
          <span>Numero de invitados: {{guests.length}}</span>
        </div>
        <div class="col s12 m6">
          <span>Numero de espacios: {{getGuestSpaces()}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="collection">
      <a class="collection-item" *ngFor="let guest of guests" [routerLink]="['/admin/editar-invitado', guest.id]">
        {{guest.first_name + ' ' + guest.last_name}}
        <span *ngIf="guest.spaces === 1" class="badge light-blue-text" data-badge-caption="espacio">{{guest.spaces}}</span>
        <span *ngIf="guest.spaces > 1" class="badge light-blue-text" data-badge-caption="espacios">{{guest.spaces}}</span>
      </a>
    </div>
  </div>
</div>
