 @media (min-width: 993px ) {
  .nav-wrapper {
    padding-left: 6em;
    padding-right: 6em;
  }
}

.page-title{
  font-size: 24px;
  font-family: 'Lato', sans-serif;
}

a {
  font-family: 'Lato', sans-serif;
}
