<!-- <div *ngFor="let section of sections">
  <div class="parallax-container valign-wrapper">
    <h1 class=" white-text overlay center-align">
        {{section.name | uppercase }}
      </h1>

    <div class="parallax grey lighten-1" materialize="parallax">
      <img [src]="section.imageUrl">
    </div>
  </div>
  <story-card *ngIf="section.header || section.content" story-card [header]="section.header" [story]="section.content"></story-card>
</div>

<div class="divider">

</div> -->

<div class="container">
  <div class="col s12 m7" *ngIf="guest && wedding">
    <h2 class="header center-align">
      {{guest.first_name + ' ' + guest.last_name}}
    </h2>
    <div >
      <div *ngIf="section" class="center-align">
        <p  class="flow-text" [innerHtml]="section.content"></p>
        <div class="divider">

        </div>
        <div class="center-align">
          <p>
            <br />
            <b>Hemos guardado para ti: {{guest.spaces}} espacios</b>
          </p>
        </div>
      </div>
      <div *ngIf="!hasConfirmed()" class="card-action center-align">
        <div class="row">
          <div class="col s12 m6">
            <a class="btn black-text white" materialize [materializeActions]="globalActions" (click)="confirm()"><i class="material-icons left">check_box</i> Confirmar</a>
          </div>
          <div class="col s12 m6">
            <a class="btn black-text white" (click)="deny()"><i class="material-icons left">cancel</i> No puedo asistir</a>
          </div>
        </div>
      </div>
      <div class="center-align" *ngIf="hasConfirmed()">
        <p>
          {{getAknowledgement()}}
        </p>
      </div>
      <div class="center-align" *ngIf="guest.status > 0 || changeConfirmation">
        <p>
          <b>* Tu confirmacion es Mieda: {{getStateText()}} </b>
        </p>
        Hola
        <a *ngIf="guest.status > 0" (click)="changeConfirmation=true">cambiar</a>
      </div>
    </div>
  </div>
</div>
