<div *ngFor="let section of sections">
  <div class="parallax-container valign-wrapper">
    <h1 class=" white-text overlay center-align">
        {{section.name | uppercase }}
      </h1>

    <div class="parallax" materialize="parallax">
      <img [src]="section.imageUrl">
    </div>
  </div>
  <story-card *ngIf="section.header || section.content" story-card [header]="section.header" [story]="section.content"></story-card>
</div>

<div class="divider">

</div>

<div class="container">
  <div class="col s12 m7" *ngIf="guest && wedding">
    <h2 class="header center-align">
      {{guest.first_name}}
    </h2>
    <div class="card" >
      <div class="card-content">
        <span class="card-title center-align">Por favor reserva la fecha : {{getFullDate()}}</span>
        <div class="center-align">
          <p>
            <b>Hemos guardado para ti: {{guest.spaces}} espacios</b>
          </p>
        </div>
      </div>
      <div class="card-action center-align">
        <a class="btn black-text white pulse" materialize [materializeActions]="globalActions" (click)="confirm()"><i class="material-icons left">check_box</i> Confirmar</a>
        <a class="btn black-text white" (click)="deny()"><i class="material-icons right">cancel</i> No puedo asistir</a>
      </div>
      <div class="center-align" *ngIf="guest.status > 0">
        <p>
          * Tu confirmacion es: {{getStateText()}}
        </p>
      </div>
    </div>
  </div>
</div>
