.parallax-container {
    height: 500px;
}

@media (min-width: 993px ) {
  .parallax-container {
      height: 900px;
  }
}

.overlay, .parallax-text {
    /*font-size: 80px;*/
    font-family: 'Lato', sans-serif;
    letter-spacing: .11em;
    font-size: 2.25em;
    text-rendering: optimizeLegibility;
}

@media (min-width: 993px ) {
  .parallax-container {
      height: 900px;
  }

  .overlay, .parallax-text {
      /*font-size: 80px;*/
      font-family: 'Lato', sans-serif;
      letter-spacing: .11em;
      font-size: 7em;
      text-rendering: optimizeLegibility;
  }

}

.overlay{
  width: 100%;
}

p, span {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
}

.btn{
  /*border-style: solid;*/
  /*border-color: black;*/
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.btn:hover{
  background-color: black;
}
