<ul id="slide-out" class="side-nav fixed">
  <!-- <li>
    <div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">sepineda@gmail.com</span></a>
    </div>
  </li> -->

  <li><a href="#!"> <i class="material-icons">add</i>Nueva seccion</a></li>
  <li><a href="#!"> <i class="material-icons">settings</i> Configuracion</a></li>

  <li>
    <div class="divider"></div>
  </li>
  <li><a class="subheader">Invitados</a></li>

  <li><a href="#!"> <i class="material-icons">list</i>Lista</a></li>

</ul>
<main>
  <div *ngIf="wedding">
    {{wedding.name}}
  </div>
</main>
