<ul id="slide-out" class="side-nav fixed">
  <li>
    <div class="user-view">
      <div class="background card-panel teal lighten-2">
        <!-- <img src="images/office.jpg"> -->
      </div>
      <a href="#!name"><span class="white-text name">Eduardo Pineda</span></a>
      <a href="#!email"><span class="white-text email">sepineda@gmail.com</span></a>
    </div>
  </li>

  <li><a href="#!"> <i class="material-icons">add</i>Nueva Seccion</a></li>
  <li routerLinkActive='active'><a routerLink="invitar"> <i class="material-icons">person</i>Nuevo Invitado</a></li>
  <li routerLinkActive='active'><a routerLink='lista' > <i class="material-icons">list</i>Invitados</a></li>

  <li>
    <div class="divider"></div>
  </li>
  <li><a class="subheader">Configuracion</a></li>



</ul>
<main>
  <router-outlet></router-outlet>
</main>
