<div class="hide-on-large-only">
  <when-where></when-where>
  <div class="divider">

  </div>
  <confirm></confirm>
</div>

<div class="divider">
  
</div>

<div *ngFor="let section of sections">
  <div class="parallax-container valign-wrapper">
    <h1 class=" white-text overlay center-align">
        {{section.name | uppercase }}
      </h1>

    <div class="parallax grey lighten-1" materialize="parallax">
      <img [src]="section.imageUrl">
    </div>
  </div>
  <story-card *ngIf="section.header || section.content" story-card [header]="section.header" [story]="section.content"></story-card>
</div>

<wedding-gallery></wedding-gallery>
