<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="card-panel">
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="name" name="name" type="text" class="validate" required>
        <label for="name">Titulo</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="header" name="header" type="text" class="validate">
        <label for="header">Encabezado</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea class="materialize-textarea" formControlName="content" name="content"></textarea>
        <label for="content">Historia</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select materialize="material_select" formControlName="category" name="category" [materializeSelectOptions]="categories" required>
          <option value="" disabled selected>Escoge una opcion</option>
          <option *ngFor="let cat of categories" [value]="cat.value">
            {{cat.content}}
          </option>
        </select>
        <label for="category">Categoria</label>
      </div>
    </div>

    <div class="row" *ngIf="editMode">
      <div class="input-field col s12">
        <input class="validate" type="number" formControlName="index" name="index" required />
        <label for="index">Indice</label>
      </div>
    </div>

    <div class="row hide-on-med-and-down">
      <div class="file-field input-field col s12">
        <div class="btn">
          <span>Imagen</span>
          <input type="file" id="image" (change)="fileChange($event)" />
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
    <div class="row" *ngIf="section && !filePath">
      <img  materialize="materialbox" class="materialboxed" width="300" [src]="section.imageUrl" />
    </div>

    <div class="row">
      <button class="btn waves-effect" materialize [materializeActions]="globalActions" type="submit">Guardar</button>
      <button type="button" *ngIf="section" materialize [materializeActions]="globalActions" class="btn waves-effect red" (click)="deleteSection()">Borrar</button>
    </div>
  </div>
</form>
